<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190314785671-8jd7a9d7pj1cd65c6bp2eq0s8h67geqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190314785671-8jd7a9d7pj1cd65c6bp2eq0s8h67geqe</string>
	<key>API_KEY</key>
	<string>AIzaSyCK6QrsPnPZLQJR4yKd0bXoM8cxQfFQVz4</string>
	<key>GCM_SENDER_ID</key>
	<string>190314785671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.listify</string>
	<key>PROJECT_ID</key>
	<string>listify-67d3d</string>
	<key>STORAGE_BUCKET</key>
	<string>listify-67d3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190314785671:ios:e7585fab9027850f780122</string>
</dict>
</plist>